<%- include('partials/header', {title: viewData.title}) %>

<p>This page uses RetroDifussion to generate walking spritesheets, then PixelLab to create poses, maintaining consistency over all sprites.  Enter your character prompt below and give ample time (it can take up to 5 minutes).  When your query is complete, it will appear in generated spritesheets below.</p>

<form action="/generate-compiled-spritesheet" method="POST">
    <label for="prompt">Character Prompt:</label>
    <input type="text" id="prompt" name="prompt" required>
    <button type="submit">Generate</button>
</form>

<% if (viewData.alert) { %>
  <div class="container my-3">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= viewData.alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% } %>

<p></p>
<h3>Generated Spritesheets</h3>
<p><%- viewData.content %></p>

<%- include('partials/footer') %>