<IfModule mod_mime.c>
  AddEncoding br .br
  AddType application/javascript .js
  AddType application/wasm .wasm
  AddType application/octet-stream .data
</IfModule>

<IfModule mod_headers.c>
  # Remove bogus language header
  Header unset Content-Language

  # For all .br files: force correct encoding header
  <FilesMatch "\.br$">
    Header set Content-Encoding br
  </FilesMatch>
</IfModule>